.outercontainer{
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
}
.category{
  margin-right: 10px;
  padding-top: 5px;
}
.name{
  font-size: 13px;
  font-weight: 500;
  max-height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  padding-right: 4px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.categoryname{
  font-size: 13px;
  font-weight: 500;
  max-height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  padding-right: 4px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.in{
  font-size: 13px;
  padding-right: 4px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(117, 117, 117);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.time{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}
.title{
  font-size: 22px;
  color:rgba(41, 41, 41, 1);
  line-height: 28px;
  font-weight: 700;
  letter-spacing:0px;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  display:-webkit-box;
  text-overflow:ellipsis;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media ( max-width: 767px){
  .title{
    font-size: 16px;
    line-height: 20px;
  }
  .featureImg{
   max-height: 100px;
   max-width: 100px;
   object-fit: cover;
  }
  .col-md-8{
    padding-left: 0px!important;
    padding-right: 0px!important
  }
}

.featureImg{
   object-fit: cover;
   max-width: 180px;
   height: 180px;
}
.excerpt{
  padding-top: 4px;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  display:-webkit-box;
  text-overflow:ellipsis;
  overflow:hidden;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  /* font-weight: 400; */
}
