.title{
  font-size: 48px;
  line-height: 60px;
  margin-top: 0.56em;
  margin-bottom: -0.27em;
  letter-spacing: -0.011em;
  font-weight: 400;
  color: rgba(41, 41, 41, 1);
  font-style: normal;
  font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
}
.body{
  letter-spacing: -0.003em;
  line-height: 32px;
  margin-top: 2em;
  font-size: 21px;
  margin-bottom: -0.46em;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  word-break: break-word;
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
}
@media (max-width:600px) {
  .title{
    font-size: 34px;
    margin-top: 0.56em;
    margin-bottom: -0.27em;
    line-height: 42px;
    letter-spacing: -0.016em;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
    font-style: normal;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
  }
  .body{
    letter-spacing: -0.003em;
    line-height: 28px;
    margin-top: 1.56em;
    font-size: 18px;
    margin-bottom: -0.46em;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: normal;
    word-break: break-word;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
  }
}
.authorname{
  font-size: 14px;
  line-height: 20px;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;
  text-overflow:ellipsis

}
.authorContainer{
  padding: 7px 0px 0px 10px;
}
.authorimg{
  width: 48px!important;
  height: 48px!important;
}
.usercontainer{
  padding: 50px 0px 0px 0px;
}
.leftside{
  padding: 50px;
  font-weight: 300;
  color: grey;
  font-size: 13px;
}
.name{
  font-size: 15px;
  padding:6px 0px 6px 0px;
  color: black;
  font-weight: 500;
}
.aboutauthor{
  letter-spacing: -0.003em;
  line-height: 20px;
  margin-top: 1.56em;
  font-size: 14px;
  margin-bottom: -0.46em;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  word-break: break-word;
  color: rgba(117, 117, 117, 1);
  font-weight: 400;
}
.tagcatbtn{
  font-size: 13px;
  border: 0px solid white;
  text-transform: capitalize!important;
  min-width: 50px;
  background-color: lightgrey;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}
.extras{
  padding-top: 20px;
  padding-bottom: 20px;
}
.morecontainer{
  padding-left: 5%;
  padding-right: 5%;
  min-height: 50vh;
  background-color: #f5f3f3;
}
.eachblog{
  margin: 3px;
}
@media (min-width:991px) {
  .eachblog{
   padding: 0px 25px 0px 25px;
  }
}
.moretitle{
 margin-bottom: 10px;
 font-size: 1.5em;
 font-weight: 600;
 padding:  30px 0px 0px 0px;
 text-align: center!important;
}
.postedtime{
  font-weight: 400;
  word-wrap:break-word;
  word-break: break-word;
  color: rgba(117, 117, 117, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.logo{
 
}
