.outercontainer{
  margin-bottom: 20px;
  /* min-width: 350px; */
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
}
.category{
  margin-right: 10px;
  padding-top: 5px;
}
.left{
  /* padding-left: 20px; */
}
.name{
  font-size: 13px;
  font-weight: 500;
  max-height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  padding-right: 4px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.categoryname{
  font-size: 13px;
  font-weight: 500;
  max-height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  padding-right: 4px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.in{
  font-size: 13px;
  padding-right: 4px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(117, 117, 117);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title{
  line-height: 20px;
  font-size: 16px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:3px 0px 5px 0px;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
}
.time{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}
.smallFeatureImage{
  height: 100px;
  object-fit: cover;
  max-width: 100px;
}
